<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postMapper">
  	<!-- 게시판 등록 -->
  	<insert id="postWritePro" parameterType="kr.co.vo.postVO">
  		<selectKey resultType="int" keyProperty="ref" order="BEFORE">
  			select NVL(Max(ref),0) + 1
  			from post
  		</selectKey>
  		insert into post(
  		post_no,
  		post_id,
  		post_content,
  		post_photo1,
  		post_photo2,
  		post_photo3,
  		post_photo4,
  		post_photo5,
  		reg_date,
  		ref,
  		re_step,
  		re_level,
  		like_count)
  		
  		 values(
  		post_seq.nextval,<!-- 오류가 나도 카운터가 됨, 차라리 max+1이 낫다? -->
  		#{post_id},
  		#{post_content},
  		#{post_photo1},
  		#{post_photo2},
  		null,
  		null,
  		null,
  		SYSDATE,
  		#{ref},
  		0,
  		0,
  		0
  		)
  	</insert>
  	<!-- 
  	<select id="readpost">
  		select *
  		from post
  		where 
  	</select> -->
  	
  	<!-- 메인페이지 모든 게시물 출력 쿼리 -->
  	<select id="viewAllPost" resultType="kr.co.vo.postVO">
  		select post_no,	post_id, post_content, post_photo2, reg_date, ref, like_count
  		from post 
  		order by ref desc
  	</select>
  	
  	
  	<!-- 북마커 추가시 실행되는 구문 -->
  	<insert id="insertBookmark" parameterType="kr.co.vo.bookmarkVO">
  		<selectKey resultType="int" keyProperty="mark_check" order="BEFORE">
  			select NVL(Max(mark_check),0) + 1
  			from post_bookmark
  		</selectKey>
  		insert into post_bookmark(
  			member_id,
  			post_no,
  			mark_check
  		)values(
  			#{member_id},
  			#{post_no},
  			#{mark_check}
  		)
  	</insert>
  	
  	<!-- 북마커 삭제시 실행되는 구문 -->
  	<delete id="deleteBookmark" parameterType="kr.co.vo.bookmarkVO">
  		delete from post_bookmark
  		where member_id=#{member_id} and post_no=#{post_no}
  	</delete>
  	
  	<!-- 북마커 확인 구문 -->
  	<select id="selectBookmark" parameterType="kr.co.vo.bookmarkVO" resultType="kr.co.vo.postVO">
  		select post.post_no, post_id, post_content,
  		 post_photo2, reg_date, ref, re_step, re_level, like_count
  		from post join post_bookmark on post.post_no = post_bookmark.post_no
		where post_bookmark.member_id = #{member_id}
  		order by post_no desc
  	</select>

</mapper>