<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<!-- 회원가입 -->
	<insert id="userJoin">
		insert into member(
			 member_no,
			 member_id, 
			 member_pw,
			 member_name,
			 member_tel,
			 member_email,
			 member_image,
			 member_info	)
		values(
			member_seq.nextval,
			 #{member_id},
			 #{member_pw},
			 #{member_name},
			 #{member_tel},
			 #{member_email},
			 #{image_path},
			 #{member_info})
		
	</insert>
	
	<select id="loginPro" resultType="kr.co.vo.userVO">
		select member_id, member_pw
		from member
		where member_id = #{member_id,jdbcType=VARCHAR}
		<!-- and member_pw = #{member_pw} -->
	</select>
	
	<!-- ID찾기 -->
	<select id="searchId" resultType="kr.co.vo.userVO">
		select member_id
		from member
		where member_name = #{member_name,jdbcType=VARCHAR}
		and member_email = #{member_email}
	</select>
	
	<!-- PW찾기 -->
	<select id="searchPw" resultType="kr.co.vo.userVO">
		select member_pw
		from member
		where member_id = #{member_id}
		and member_email = #{member_email}
	</select>
	
	<!-- 회원정보 불러오기 회원번호, 아이디, 이름, 전화번호, 이메일, 사진, 정보까지. -->
	<select id="userInfo" resultType="kr.co.vo.userVO">
		select member_no, member_id, member_name, member_tel, member_email, member_image, member_info
		from member
		where member_id = #{member_id}
		
	</select>


	
	<!-- 회원정보수정 -->
	<update id="userUpdate" parameterType="kr.co.vo.userVO">
		update member 
		set 
			member_name = #{member_name},
			member_pw = #{member_pw},
			member_tel = #{member_tel},
			member_email = #{member_email},
			member_info = #{member_info}			
		where member_id = #{member_id, jdbcType=VARCHAR}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="userDelete" parameterType="kr.co.vo.userVO">
		delete member
		where member_id = #{member_id, jdbcType=VARCHAR}
	</delete>

 </mapper>