<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<!-- 회원가입 -->
	<insert id="userJoin">
		insert into member(
			 member_no,
			 member_id, 
			 member_pw,
			 member_name,
			 member_tel,
			 member_email,
			 member_image,
			 member_info	)
		values(
			member_seq.nextval,
			 #{member_id},
			 #{member_pw},
			 #{member_name},
			 #{member_tel},
			 #{member_email},
			 #{image_path},
			 #{member_info})
		
	</insert>
	
	<select id="loginPro" resultType="kr.co.vo.userVO">
		select member_id, member_pw
		from member
		where member_id = #{member_id,jdbcType=VARCHAR}
		<!-- and member_pw = #{member_pw} -->
	</select>
	
	<!-- ID찾기 -->
	<select id="searchId" resultType="kr.co.vo.userVO">
		select member_id
		from member
		where member_name = #{member_name,jdbcType=VARCHAR}
		and member_email = #{member_email}
	</select>
	
	<!-- PW찾기 -->
	<select id="searchPw" resultType="kr.co.vo.userVO">
		select member_pw
		from member
		where member_id = #{member_id}
		and member_email = #{member_email}
	</select>
	<!-- 
	<select id="loginPro">
		select member_id, member_pw
		from sns_user
		where member_id = #{member_id}
	</select> -->
	
	<select id="memberinfo" resultType="kr.co.vo.userVO">
		select member_no, member_id, member_pw, member_name, member_tel, member_email, member_image, member_info
		from member
		where member_id = #{member_id}
		
	</select>

 </mapper>